{% templatetag openblock %} extends "accounts/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password Reset" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <section class="form short">
    {% templatetag openblock %} if validlink {% templatetag closeblock %}
      <h1>{% templatetag openblock %} trans "Enter New Password" {% templatetag closeblock %}</h1>
      <p>{% templatetag openblock %} trans "Please enter your new password twice so we can verify you typed it in correctly." {% templatetag closeblock %}</p>

      <form method="post">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}
        {% templatetag openvariable %} form.as_p {% templatetag closevariable %}
        <p class="submitRow"><input type="submit" value="{% templatetag openblock %} trans "Change My Password" {% templatetag closeblock %}" /></p>
      </form>
    {% templatetag openblock %} else {% templatetag closeblock %}
      <h1>{% templatetag openblock %} trans "Password Reset Unsuccessful" {% templatetag closeblock %}</h1>
      <p>{% templatetag openblock %} trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." {% templatetag closeblock %}</p>
    {% templatetag openblock %} endif {% templatetag closeblock %}
  </section>
{% templatetag openblock %} endblock {% templatetag closeblock %}
