{% templatetag openblock %} extends "accounts/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password Reset" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h1>{% templatetag openblock %} trans "Password Reset" {% templatetag closeblock %}</h1>

  <p>{% templatetag openblock %} trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." {% templatetag closeblock %}</p>

  <form method="post" action="{% templatetag openblock %} url 'password_reset' {% templatetag closeblock %}">
    {% templatetag openblock %} csrf_token {% templatetag closeblock %}
    {% templatetag openvariable %} form.as_p {% templatetag closevariable %}
    <input type="submit" value="{% templatetag openblock %} trans "Password reset" {% templatetag closeblock %}" />
  </form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
