{% templatetag openblock %} extends "accounts/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password Change" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h1>{% templatetag openblock %} trans "Password Change" {% templatetag closeblock %}</h1>

  <p>{% templatetag openblock %} trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." {% templatetag closeblock %}</p>

  <form method="post">

    {% templatetag openblock %} csrf_token {% templatetag closeblock %}
    {% templatetag openvariable %} form.as_p {% templatetag closevariable %}

    <a href="{% templatetag openblock %} url 'core:home' {% templatetag closeblock %}">{% templatetag openblock %} trans "cancel" {% templatetag closeblock %}</a>
    <input type="submit" value="{% templatetag openblock %} trans "Change my password" {% templatetag closeblock %}">
  </form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
