{% templatetag openblock %} extends "registration/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Log In" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <section class="form short">
    <h1>{% templatetag openblock %} trans "Log In" {% templatetag closeblock %}</h1>
    <form method="post">
      {% templatetag openblock %} csrf_token {% templatetag closeblock %}
      {% templatetag openvariable %} form.as_p {% templatetag closevariable %}
      <p class="submitRow">
        <a href="{% templatetag openblock %} url 'password_reset' {% templatetag closeblock %}">{% templatetag openblock %} trans "Forgot Password?" {% templatetag closeblock %}</a>
        <input type="submit" value="{% templatetag openblock %} trans "Log In" {% templatetag closeblock %}" />
      </p>
    </form>
  </section>
{% templatetag openblock %} endblock {% templatetag closeblock %}
