{% templatetag openblock %} extends "registration/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password Change Successful" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h1>{% templatetag openblock %} trans "Password Change Successful" {% templatetag closeblock %}</h1>

  <p>{% templatetag openblock %} trans "Your password was changed." {% templatetag closeblock %} <a href="{% templatetag openblock %} url 'core:home' {% templatetag closeblock %}">{% templatetag openblock %} trans "Back to homepage" {% templatetag closeblock %}</a>.</p>
{% templatetag openblock %} endblock {% templatetag closeblock %}
