{% templatetag openblock %} extends "registration/base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password Reset Complete" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h1>{% templatetag openblock %} trans "Password Reset Complete" {% templatetag closeblock %}</h1>

  <p>{% templatetag openblock %} trans "Your password has been set. You may go ahead and log in now." {% templatetag closeblock %}</p>

  <p><a href="{% templatetag openvariable %} login_url {% templatetag closevariable %}">{% templatetag openblock %} trans "Log in" {% templatetag closeblock %}</a></p>
{% templatetag openblock %} endblock content {% templatetag closeblock %}
