{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} autoescape off {% templatetag closeblock %}
{% templatetag openblock %} blocktrans {% templatetag closeblock %}You're receiving this email because you requested a password reset for your user account at {% templatetag openvariable %} site_name {% templatetag closevariable %}.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

{% templatetag openblock %} trans "Please go to the following page and choose a new password:" {% templatetag closeblock %}
{% templatetag openblock %} block reset_link {% templatetag closeblock %}
{% templatetag openvariable %} protocol {% templatetag closevariable %}://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'password_reset_confirm' uidb64=uid token=token {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} trans "Your email, in case you've forgotten:" {% templatetag closeblock %} {% templatetag openvariable %} user.get_username {% templatetag closevariable %}

{% templatetag openblock %} blocktrans {% templatetag closeblock %}Thanks for using {% templatetag openvariable %} site_name {% templatetag closevariable %}!{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

{% templatetag openblock %} blocktrans {% templatetag closeblock %}The {% templatetag openvariable %} site_name {% templatetag closevariable %} team{% templatetag openblock %} endblocktrans {% templatetag closeblock %}

{% templatetag openblock %} endautoescape {% templatetag closeblock %}
