{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Page Not Found{% templatetag openblock %} endblock title {% templatetag closeblock %}

{% templatetag openblock %} block page_title {% templatetag closeblock %}{% templatetag openblock %} endblock page_title {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<div class="404">
  <div class="glitch" data-text="Page Not Found">Page Not Found</div>

  <p>This is not the page you were looking for. Go back to the <a href="{% templatetag openblock %} url 'core:home' {% templatetag closeblock %}">homepage</a>.</p>
</div>

{% templatetag openblock %} endblock content {% templatetag closeblock %}
