{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Server Error{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
  <h1>Ooops!!! 500 Error</h1>

  <h3>Looks like something went wrong!</h3>

  <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
{% templatetag openblock %} endblock content {% templatetag closeblock %}
