<!DOCTYPE html>
{% templatetag openblock %} load staticfiles compressed i18n {% templatetag closeblock %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="{% templatetag openblock %} url 'favicon.ico' {% templatetag closeblock %}" />

    {% templatetag openblock %} compressed_css 'master' {% templatetag closeblock %}
    {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock extra_css {% templatetag closeblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      {% templatetag openblock %} block header {% templatetag closeblock %}
        <h1>{% templatetag openblock %} block page_title {% templatetag closeblock %}Hello World{% templatetag openblock %} endblock page_title {% templatetag closeblock %}</h1>
      {% templatetag openblock %} endblock header {% templatetag closeblock %}

      {% templatetag openblock %} block messages {% templatetag closeblock %}
        {% templatetag openblock %} include 'includes/messages.html' {% templatetag closeblock %}
      {% templatetag openblock %} endblock messages {% templatetag closeblock %}

      {% templatetag openblock %} block content {% templatetag closeblock %}

      {% templatetag openblock %} endblock content {% templatetag closeblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% templatetag openblock %} compressed_js 'master' {% templatetag closeblock %}
    {% templatetag openblock %} block extra_js {% templatetag closeblock %}{% templatetag openblock %} endblock extra_js {% templatetag closeblock %}
  </body>
</html>
