{% templatetag openblock %} extends "admin/base_site.html" {% templatetag closeblock %}

{% templatetag openblock %} load url from future {% templatetag closeblock %}

{% templatetag openblock %} block extrastyle {% templatetag closeblock %}
  {% templatetag openvariable %} block.super {% templatetag closevariable %}
  <style>
    .data {
      display: inline-block;
      float: left;
      width: 80%;
      font-size: 12px;
      padding-top: 3px;
    }
  </style>
  <link href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}admin/css/forms.css" type="text/css" rel="stylesheet">
  {% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
  <div class="breadcrumbs">
    <a href="{% templatetag openblock %} url 'admin:index' {% templatetag closeblock %}">Home</a> &rsaquo;
    <a href="{% templatetag openblock %} url 'rq_home' {% templatetag closeblock %}">Django RQ</a> &rsaquo;
    <a href="{% templatetag openblock %} url 'rq_jobs' queue_index {% templatetag closeblock %}">{% templatetag openvariable %} queue.name {% templatetag closevariable %}</a> &rsaquo;
    <a href="{% templatetag openblock %} url 'rq_job_detail' queue_index job.id {% templatetag closeblock %}">{% templatetag openvariable %} job.id {% templatetag closevariable %}</a>
  </div>
  {% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content_title {% templatetag closeblock %}<h1>Job Info</h1>{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

<div id="content-main">

  <fieldset class="module aligned">

    <div class="form-row">
      <div>
        <label class="required">ID:</label>
        <div class="data">{% templatetag openvariable %} job.id {% templatetag closevariable %}</div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Queue:</label>
        <div class="data">{% templatetag openvariable %} job.origin {% templatetag closevariable %}</div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Timeout:</label>
        <div class="data">{% templatetag openvariable %} job.timeout {% templatetag closevariable %}</div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Result TTL:</label>
        <div class="data">{% templatetag openvariable %} job.result_ttl {% templatetag closevariable %}</div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Created:</label>
        <div class="data">{% templatetag openvariable %} job.created_at {% templatetag closevariable %} ({% templatetag openvariable %} job.created_at|timesince {% templatetag closevariable %} ago)</div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Queued:</label>
        <div class="data">
          {% templatetag openvariable %} job.enqueued_at {% templatetag closevariable %}
          {% templatetag openblock %} if job.enqueued_at|timesince {% templatetag closeblock %}
            ({% templatetag openvariable %} job.enqueued_at|timesince {% templatetag closevariable %} ago)
          {% templatetag openblock %} elif job.enqueued_at|timeuntil {% templatetag closeblock %}
            (in {% templatetag openvariable %} job.enqueued_at|timeuntil {% templatetag closevariable %})
          {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Status:</label>
        <div class="data">
          {% templatetag openblock %} if job.get_status {% templatetag closeblock %}
            {% templatetag openvariable %} job.get_status {% templatetag closevariable %}
          {% templatetag openblock %} else {% templatetag closeblock %}
            {% templatetag openvariable %} job.status {% templatetag closevariable %}
          {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Callable:</label>
        <div class="data">{% templatetag openvariable %} job.func_name {% templatetag closevariable %}</div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Args:</label>
        <div class="data">
          {% templatetag openblock %} if job.args {% templatetag closeblock %}
          <ul>
            {% templatetag openblock %} for arg in job.args {% templatetag closeblock %}
              <li>{% templatetag openvariable %} arg {% templatetag closevariable %}</li>
            {% templatetag openblock %} endfor {% templatetag closeblock %}
          </ul>
          {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Kwargs:</label>
        <div class="data">
          {% templatetag openblock %} if job.kwargs {% templatetag closeblock %}
            <ul>
              {% templatetag openblock %} for key, value in job.kwargs.items {% templatetag closeblock %}
                <li>{% templatetag openvariable %} key {% templatetag closevariable %}: {% templatetag openvariable %} value|escape {% templatetag closevariable %}</li>
              {% templatetag openblock %} endfor {% templatetag closeblock %}
            </ul>
          {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <label class="required">Exception:</label>
        <div class="data"><pre>{% templatetag openblock %} if job.exc_info {% templatetag closeblock %}{% templatetag openvariable %} job.exc_info|linebreaks {% templatetag closevariable %}{% templatetag openblock %} endif {% templatetag closeblock %}</pre></div>
      </div>
    </div>

  </fieldset>

  <div class="submit-row">
    <p class="deletelink-box"><a href="delete/" class="deletelink">Delete</a></p>
    {% templatetag openblock %} if job.is_failed {% templatetag closeblock %}
      <form method='POST' action="{% templatetag openblock %} url 'rq_requeue_job' queue_index job.id {% templatetag closeblock %}">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}
        <input type="submit" value="Requeue" class="default" name="requeue">
      </form>
    {% templatetag openblock %} endif {% templatetag closeblock %}
  </div>
</div>

{% templatetag openblock %} endblock {% templatetag closeblock %}
